<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax_EX02</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
<h1>02. ajax를 사용해서 post 요청 보내기</h1>
<hr>
<br>
<button onclick="exFn()">ajax 요청 함수 호출하기</button>

</body>
<script type="text/javascript">
    const exFn = () => {
        console.log("함수 호출 성공")

        $.ajax( {
                //요청 방식: get, post put, patch, delete
                type: "post",
                //요청 주소: http://localhost:9696/ex02
                url: "/ex02",

                //요청이 성공했을 때 실행, http 상태 코드: 200 ok
                //  res: 서버에서 보내는 값
                success: function (res) {
                    console.log("성공: ", res)
                },

                //요청이 실패 했을 때
                error: function (err) {
                    console.log("실패: ", err)
                }


            }
        )
    }
</script>
</html>